name: Deploy to Render

on:
  push:
    branches:
      - main

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4
        
      - name: Trigger Render Deploy
        run: |
          curl -X POST \
          -H "Authorization: Bearer \${{ secrets.RENDER_API_KEY }}" \
          "https://api.render.com/v1/services/\${{ secrets.RENDER_SERVICE_ID }}/deploys"